@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e4e2e2;
  background: #0a0a0a;
  font-family: Inter, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
